.taskItem {
  background-color: rgb(92, 172, 92);
  border-radius: 5px;
  width: 400px;
  color: #fff;
  margin: 10px;
  font-weight: 900;
  height: 40px;
}

.mainList {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px rgb(165, 171, 177);
}

.taskListContainer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid green;
  border-radius: 5px;
}

.taskListHeader {
  font-weight: 700;
  background-color: green;
  color: #fff;
}

.daysRemainingCell {
  height: 30px;
  line-height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  font-weight: 600;
  color: white;
}

.MuiTableCell-root {
  padding: 7px;
}
