.title {
  background-color: green;
  height: 80px;
  text-align: center;
  line-height: 80px;
  /* color: #fff; */
  font-size: 35pt;
  font-weight: 600px;
  font-family: 'Luminari';
}

.placeholderPanel {
  background-color: blue;
  border: 1px solid red;
}

.selectedTab {
  background-color: orange;
}

.unselectedTab {
  background-color: yellow;
}