.title {
  border: 3px solid green;
  border-radius: 5px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  /* color: #fff; */
  font-size: 35pt;
  font-weight: 600px;
  font-family: 'Luminari';
  margin-bottom: 50px;
}

.selectedTab {
  background-color: #fff;
}

.unselectedTab {
  background-color: #A1a2a2;
}

.content {
  width: 1300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navTab {
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  /* padding-left: 50px; */
  /* margin-right: 0px; */
}

.content {
  /* background-color: #fff; */
}

.navBar {
  width: 900px;
  padding-left: 430px;
  margin-left: auto;
  margin-right: auto;
}
